<div class="c-experience">
    <span class="c-experience__type">
        <i class="{{ utils.getExperienceTypeIcon(experience.type) }}"></i>
    </span>
    <div class="c-experience__body">
        <h3 class="c-section__header">
            {% if experience.role %}<span class="c-experience__role">{{ experience.role }}</span> at {% endif %}{{ experience.name }}
        </h3>
        <span class="u-strong">{{ utils.getDate(experience.startDate) }}{% if experience.endDate %} - {{ utils.getDate(experience.endDate) }}{% endif %}</span>
        {% if experience.description%}
        <div>
            {{ experience.description }}
        </div>
        {% endif %}
        {% if experience.skills.length %}
        <h4 class="c-section__sub-header">Skills practiced</h4>
        {% endif %}
        <ul class="c-list">
        {% for skill in experience.skills %}
            <li class="c-list__item"><span class="c-list__item-text">{{ skill }}</span></li>
        {% endfor %}
        </ul>
        {% if experience.links.length %}
        <h4 class="c-section__sub-header">Links</h4>
        {% endif %}
        {% for link in experience.links %}
            <h5 class="c-section__sub-sub-header"><a href="{{ link.url }}" target="_blank">{{ link.text }}</a></h5>
            <p class="u-margin-top--none">{{ link.description }}</p>
        {% endfor %}
    </div>
</div>