<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Andrew Stewart: Web Designer &amp; Developer</title>
  <meta name="description" content="Web presence for Papyrus Monster, LLC">
  <meta name="author" content="Papyrus Monster, LLC">

  <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Raleway:400,400i,500,500i,600,700,900" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="stylesheet" href="styles/main.css">

</head>

<body class="{{ body_class }}">
<!--
  <div class="bg-container">
    <div class="header">
      <div class="header__content">
        <h1 class="header__title">astewart.io</h1>
      </div>
    </div>
    <div class="tag">
      An eclectic assortment of services.
    </div>
  </div>
-->
<!--
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about.html">About</a></li>
  </ul>
-->
    <div class="content">
    {% block content %}
    {% endblock %}
    </div>

</body>
</html>