.c-list {
    padding-left: 1em;
    list-style: circle;

    &__item {
        margin-top: 0.25em;
        color: var(--color-text);
    }

    &__item-text {
        color: var(--color-text);
    }
}

.c-header {
    // background: var(--color-brand);
    background-image: linear-gradient($color-primary-light, $color-primary-darker 95%), url('/images/brick.png');
    background-size: 50%;
    background-blend-mode: multiply;
    border-bottom: 4px solid $color-accent-base;

    &__title {
        grid-column: 1 / -1;
        font-size: 3em;
        color: $color-accent-base;
        text-shadow: 2px 2px 0 rgba(255, 255, 255, 0.85), 1px 1px 0.75px rgba(0, 0, 0, 0.5);
        margin-top: 0.25em;
/*
        &-span {
            color: $color-neutral-white;
        }
        */
    }

    &__nav {
        grid-column: 1 / -1;
    }

    &__intro {
        grid-column: 1 / -1;
        margin-top: 2em;
        font-size: 1.25em;
        color: $color-neutral-white;
        opacity: 0.9;
    }
}


.c-nav {

    display: flex;
    justify-content: space-around;

    &__item {
        margin: 0;
    }

    &__link {
        padding: 0.75em 1em;
        margin: 0.25em 0;
        display: block;
        color: $color-neutral-white;
        font-weight: 700;
        text-decoration: none;
        border: 2px solid $color-primary-lighter;
        border-radius: 4px;
        border-left: 0;
        border-top: 0;
        transition: color 0.4s, border-color 0.4s;

        &:hover,
        &:focus {
            border-color: $color-primary-light;
            color: $color-accent-light;
        }
    }
}


.c-section {

    &__title {
        font-size: 1.75em;
        padding-top: 2em;
        color: $color-primary-darker;
    }

    &__header {
        font-size: 1.25em;
    }

    &__sub-header {
        color: $color-neutral-base;
    }
}


.c-experiences {
    position: relative;

    &::before {
        content: " ";
        display: block;
        position: absolute;
        background: var(--color-brand);
        top: 1em;
        bottom: 1em;
        left: 1em;
        width: 0.5em;
    }
}

.c-experience {
    display: flex;
    position: relative;

    &__type {
        background: var(--color-brand);
        border-radius: 50%;
        color: var(--color-background);
        width: 2.5em;
        min-width: 2.5em;
        height: 2.5em;
        line-height: 2.5em;
        text-align: center;
        margin-right: 1em;
        z-index: 10;
    }

    &__body {
        margin: 0;
    }

    &__role {
        font-weight: bold;
    }

    &:last-child::before {
        content: " ";
        background: var(--color-background);
        width: 1em;
        position: absolute;
        top: 1em;
        bottom: 0;
        left: 0.75em;
    }
}

.c-skill-group {

    &__sub-skills {
        margin: 1em;
        color: var(--color-text);

        .c-skill-group__level {
            opacity: 0.3;
        }
    }

    &__sub-skill-item {
        font-size: 0.85em;
    }

    &__level {
        opacity: 0.6;
        display: inline-block;
        font-size: 0.6em;

        & > i {
            margin: 0;
        }
    }
}

.c-form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1em;
    align-items: center;

    &__label {
        font-weight: 600;
        text-align: right;
    }

    &__input {
        padding: 1em 0.5em;
        border-radius: 4px;
        border: 2px solid $color-neutral-base;
        transition: border 0.4s;
        font-family: var(--font-body);

        &:focus {
            border: 2px solid $color-primary-darker;
        }
    }

    &__button {
        grid-column: 2 / -1;
        padding: 1em 0.5em;
        border: 2px solid $color-primary-dark;
        border-radius: 4px;
        background-color: $color-primary-light;
        font-family: var(--font-body);
        font-weight: 600;
        cursor: pointer;
        transition: border-color 0.4s, background-color 0.4s;

        &:hover,
        &:focus {
            border-color: $color-primary-darker;
            background-color: $color-primary-lighter;
        }
    }
}

@media (min-width: $breakpoint-1) {

    .c-header__title,
    .c-header__nav {
        grid-column: 1 / -1;
    }

    .c-header__intro {
        grid-column: 1 / 6;
    }

    .c-nav {
        justify-content: flex-end;

        &__link {
            margin-left: 1.5em;
        }
    }

    .c-section {
        grid-column: 2 / -1;
    }
/*
    .c-about {
        grid-column: 2 / -1;
    }

    .experience {
        grid-column: 2 / -1;
    }

    .skills {
        grid-column: 2 / -1;
    }
*/
}

@media (min-width: $breakpoint-2) {

    .c-nav {

        &__link {
            margin-left: 3em;
        }
    }
}

@media (min-width: $breakpoint-3) {

    .c-header__title {
        grid-column: 1 / 4;
    }
    .c-header__nav {
        grid-column: 4 / -1;
    }
}

@media (min-width: $breakpoint-4) {

    .c-header__intro {
        grid-column: 1 / 5;
    }

    .c-about,
    .contact {
        grid-column: 2 / 6;
    }

    .experience {
        grid-column: 1 / 5;
    }

    .skills {
        grid-column: 5 / -1;
    }
}
