@use "./_settings" as *;
@use "./_tools" as *;

html {

    /*
     * VARIABLES
     */

     // Fonts
    --font-fredoka: 'Fredoka One', sans-serif;
    --font-raleway: 'Raleway', sans-serif;
    --font-body: var(--font-raleway);
    --font-header: var(--font-fredoka);

    // Colors
    --color-primary: #{$color-primary-base};
    --color-neutral: #{$color-neutral-base};

    --color-brand: #{$color-primary-base};
    --color-brand-2: #{$color-primary-darker};
    --color-text: #{$color-neutral-base};
    --color-background: #{$color-neutral-white};
}

body {
    font-family: var(--font-body, 'sans-serif');
    color: var(--color-text);
    background: var(--color-background);
    line-height: 1.5;

    @include interpolate(font-size, 320px, 1366px, 14px, 20px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-header, 'sans-serif');
    color: var(--color-brand);
}

a {
    color: $color-accent-dark;
    font-weight: 600;

    :hover,
    :focus {
        color: $color-accent-lighter;
    }
}
