$color-primary-base: #3882FF;
$color-primary-light: #609BFF;
$color-primary-lighter: #8BB6FE;
$color-primary-dark: #146BFF;
$color-primary-darker: #015BF3;

$color-accent-base: #FF7E23;
$color-accent-light: #FF9950;
$color-accent-lighter: #FFB580;
$color-accent-dark: #FF6A00;


$color-neutral-white: #fff;

$color-neutral-base: #33425c;
$color-neutral-light: #f9fafc;

$breakpoint-1: 450px;
$breakpoint-2: 768px;
$breakpoint-3: 1024px;
$breakpoint-4: 1440px;
