.u-margin-none {
    margin: 0 !important;
}

.u-color-primary {
    color: var(--color-primary) !important;
}

.u-color-neutral {
    color: var(--color-neutral) !important;
}

.u-strong {
    font-weight: 600;
}
