.u-margin-none {
    margin: 0 !important;
}

.u-color-primary {
    color: var(--color-primary) !important;
}

.u-color-neutral {
    color: var(--color-neutral) !important;
}

.u-strong,
.u-font-weight--strong {
    font-weight: 600 !important;
}

.u-font-weight--normal {
    font-weight: 400 !important;
}

.u-margin-top--none {
    margin-top: 0 !important;
}

