{% set body_class = "home" %}
{% extends "template-parts/_layout.njk" %}

{% block content %}

<header class="c-header">
    <div class="o-main-grid">
        <h1 class="c-header__title">
            Hi, <span class="c-header__title-span">I'm Andrew.</span>
        </h1>
        <nav class="c-header__nav">
            <ul class="c-nav">
                <li class="c-nav__item"><a class="c-nav__link" href="#experience">Experience</a></li>
                <li class="c-nav__item"><a class="c-nav__link" href="#skills">Skills</a></li>
                <!--
                <li class="c-nav__item"><a class="c-nav__link" href="#contact">Contact</a></li>
                -->
            </ul>
        </nav>
        <p class="c-header__intro">
            I am an outstanding web engineer and designer with <span id="experience">{{ yearsExperience }}</span> years of experience. Let's build something awesome together!
        </p>
    </div>
</header>

<div class="o-main-grid">
    <div class="c-about c-section">
        <p>My experience up and down the web stack and my eye for design will be useful to any team looking for an agile, flexible, and passionate worker. With this background, I am eager to work with and lead a team of designers and developers in building great user experiences.</p>
        <p>My experiences include:</p>
        <ul class="c-list">
            <li class="c-list__item"><span class="c-list__item-text">Designing and building web application UX/UI</span></li>
            <li class="c-list__item"><span class="c-list__item-text">Deconstructing monolithic repositories into microservices</span></li>
            <li class="c-list__item"><span class="c-list__item-text">Design system and shared component architecture</span></li>
            <li class="c-list__item"><span class="c-list__item-text">Cloud services architecture</span></li>
        </ul>
        <a href="/images/aStewartResume.pdf" class="c-button" target="_blank">Download my resume <i class="fas fa-download"></i></a>
<!--
        <p>If you are looking for an ambitious new teammate, <a href="#contact">hire me!</a></p>
-->
    </div>

    <section class="experience c-section">
        <h2 id="experience" class="c-section__title">Experience</h2>

        <div class="c-experiences">
        {% for experience in experiences | reverse %}
            {% include "template-parts/_experience.njk" %}
        {% endfor %}
        </div>
    </section>

    <section class="skills c-section">
        <h2 id="skills" class="c-section__title">Skills</h2>
        <h3 class="c-section__header">Technical</h3>
        <ul>
        {% for skillGroup in skills.technical %}
            {% include "template-parts/_skill-group.njk" %}
        {% endfor %}
        </ul>
        <h3 class="c-section__header">Design</h3>
        <ul>
        {% for skillGroup in skills.design %}
            {% include "template-parts/_skill-group.njk" %}
        {% endfor %}
        </ul>
        <h3 class="c-section__header">Soft</h3>
        <ul>
        {% for skillGroup in skills.soft %}
            {% include "template-parts/_skill-group.njk" %}
        {% endfor %}
        </ul>
    </section>
    <!--
    <section class="c-section contact">
        <h2 id="contact" class="c-section__title">Contact</h2>
        <p>All fields are required.</p>
        <form action="https://s3hfvj6ac5.execute-api.us-west-2.amazonaws.com/prod/astewartio-contact" method="POST" class="c-form">
            <label class="c-form__label" for="name">Name</label>
            <input class="c-form__input" type="text" name="name" id="name" />
            <label class="c-form__label" for="email">E-mail</label>
            <input class="c-form__input" type="email" name="email" id="email" />
            <label class="c-form__label" for="message">Message</label>
            <textarea class="c-form__input" id="message" name="message"></textarea>
            <input class="c-form__button" type="submit" value="Send" />
        </form>
    </section>
    -->
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const experienceElement = document.getElementById('experience');
        if (experienceElement) {
            // Calculate years of experience from June 2011 to current date to
            // keep it dynamic and up-to-date
            const experienceStartDate = new Date('2011-06-01T00:00:00');
            const currentDate = new Date();
            const years =
                currentDate.getFullYear() - experienceStartDate.getFullYear();
            experienceElement.textContent = years;
        }
    });
</script>

{% endblock %}
