{% set body_class = "home" %}
{% extends "template-parts/_layout.njk" %}

{% block content %}

<head>
    <h1 class="c-title">
        <a href="#">Andrew Stewart</a>
        <span class="c-title__sub">Web Engineer &amp; Designer</span>
    </h1>

    <nav>
        <ul class="c-nav">
            <li class="c-nav__item"><a class="c-nav__link" href="#experience">Experience</a></li>
            <li class="c-nav__item"><a class="c-nav__link" href="#skills">Skills</a></li>
            <li class="c-nav__item"><a class="c-nav__link" href="#contact">Contact</a></li>
        </ul>
    </nav>
</head>

<p class="c-about">
* 8 years web design and development experience
* Broad range of experience:
    - Designing and building UX/UI
    - Deconstructing a monolith into microservices
    - Design system architecture
    - Cloud service architecture
* Looking to build leadership skills at a small to medium size company
* Passionate about web application design and development
* Passionate about developing my skills as an engineer and a leader
</p>

<section class="c-section experience">
    <h2 id="experience" class="c-section__title">Experience</h2>

    <div class="c-experiences">
    {% for experience in experiences | reverse %}
        {% include "template-parts/_experience.njk" %}
    {% endfor %}
    </div>
</section>

<section class="c-section skills">
    <h2 id="skills" class="c-section__title">Skills</h2>
    <h3>Technical</h3>
    <ul>
    {% for skillGroup in skills.technical %}
        {% include "template-parts/_skill-group.njk" %}
    {% endfor %}
    </ul>
    <h3>Design</h3>
    <ul>
    {% for skillGroup in skills.design %}
        {% include "template-parts/_skill-group.njk" %}
    {% endfor %}
    </ul>
    <h3>Soft</h3>
    <ul>
    {% for skillGroup in skills.soft %}
        {% include "template-parts/_skill-group.njk" %}
    {% endfor %}
    </ul>
</section>

<section class="c-section">
    <h2 id="contact" class="c-section__title">Contact</h2>
    <form>
        <label for="name">Name</label>
        <input type="text" name="name" id="name" />
        <label for="email">E-mail</label>
        <input type="email" name="email" id="email" />
        <label for="message">Message</label>
        <textarea id="message" name="message"></textarea>
        <input type="submit" value="Send" />
    </form>
</section>

{% endblock %}
